#score {
  text-align: center;
}

#game {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("https://i.ibb.co/HGGZxKp/Hintergrund.png");
  background-size: cover;
  background-position: top left;
  animation: background-animation 5s infinite linear;
}

@keyframes background-animation {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -700px 0px;
  }
}
#dino {
  height: 60px;
  width: 60px;
  top: 225px;
  position: relative;
  background-image: url("https://i.ibb.co/KL5sZpR/Audi.png");
  background-size: cover;
}

#rock {
  width: 50px;
  height: 50px;
  position: relative;
  top: 175px;
  left: 550px;
  background-image: url("https://i.ibb.co/DzJsbtv/animated-man-running.gif");
  background-size: cover;
  animation: rock 1.33s infinite;
}

@keyframes rock {
  0% {
    left: 550px;
  }
  100% {
    left: -50px;
  }
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0% {
    top: 225px;
  }
  50% {
    top: 75px;
  }
  75% {
    top: 75px;
  }
  100% {
    top: 225px;
  }
}
