/* CSS Code, den es für die Start Page braucht */

.header-image {
    height: 300px;
    background-size: cover; /* Quelle: Chatgpt */
    background-position: center; /* Quelle: Chatgpt */
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
}


/* Gewinnspiel */

/*Quelle: Chatgpt */
#myForm {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
 
#myForm div {
    margin-bottom: 15px;
}
 
#auswahl {
    width: 100%;
    padding: 5px;
}
 
.name-fields {
    display: flex;
    justify-content: space-between;
}
 
input[type="text"],
input[type="email"] {
    width: calc(50% - 5px);
    padding: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
 
input[type="email"] {
    width: 100%;
}
 
button[type="submit"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
}
 
